{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="{% static 'dist/plugins/bootstrap/css/bootstrap.css' %}">


  <!-- FONTAWESOME CSS -->
  <link rel="stylesheet" href="{% static 'dist/plugins/font-awesome/css/font-awesome.css' %}">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="{% static 'dist/custom/css/main.css' %}">

  <!-- JQUERY JS -->
  <script src="{% static 'dist/plugins/jquery/jquery.3.2.1.min.js' %}"></script>

  <script src="{% static 'dist/plugins/bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>


  {% block Content %}
    
  {% endblock Content %}

  {% block Script %}
    
  {% endblock Script %}

</body>
</html>